<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dashboard - Lyricslink</title>
    <link rel="icon" type="image/x-icon" href="/static/lyriclink.png" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <script defer src="/static/modal.js"></script>
    <script src="/static/navbar.js"></script>
    <link href="/static/output.css" rel="stylesheet" />
    <script src="/static/alpine/addEventModal.js"></script>
  </head>
  <body
    class="p-6"
    x-data="{
    data: JSON.parse($el.getAttribute('data-dash')),
    get user() { return this.data.user },
    get events() { return this.data.events },
    showHoverSettingsModal: false
    }"
    data-dash="{{ .Data }}"
  >
    <nav
      class="bg-white shadow-md p-5 flex justify-between items-center mb-6 rounded-full relative"
    >
      <a href="/dashboard"><h1 class="text-2xl font-bold">Lyricslink</h1></a>
      <div class="flex items-center space-x-4">
        <div class="w-10 h-10 bg-gray-300 rounded-full">
          <template x-if="user.avatar">
            <img
              class="w-10 h-10 bg-gray-300 rounded-full cursor-pointer"
              :src="user.avatar"
              alt=""
              @click="showHoverSettingsModal = !showHoverSettingsModal"
            />
          </template>
        </div>
      </div>
      <div
        x-show="showHoverSettingsModal"
        x-transition
        @click.outside="showHoverSettingsModal = false"
        class="w-48 bg-white border border-gray-200 rounded shadow-md p-2 absolute right-0 top-20 bg-gray-200"
      >
        <a href="/settings">
          <button
            class="w-full text-left px-4 py-2 hover:bg-gray-100 rounded cursor-pointer text-sm text-gray-700"
          >
            Settings
          </button>
        </a>
        <a onclick="logout()">
          <button
            class="w-full text-left px-4 py-2 hover:bg-gray-100 rounded cursor-pointer text-sm text-red-600"
          >
            Logout
          </button>
        </a>
      </div>
    </nav>

    <!-- Modal (With Blurred Background) -->
    <div
      id="eventModal"
      x-data="modalComponent"
      class="fixed inset-0 flex items-center justify-center backdrop-blur-sm bg-white/10 hidden"
    >
      <div class="bg-white p-6 rounded-lg shadow-lg w-lg">
        <h2 class="text-xl font-semibold mb-4">Add New Event</h2>
        <form @submit.prevent="addEvent">
          <div class="mb-4">
            <label for="name" class="block text-gray-700 font-medium"
              >Name</label
            >
            <input
              x-model="name"
              type="text"
              id="name"
              class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500"
              required
            />
          </div>
          <div class="mb-4">
            <label for="date" class="block text-gray-700 font-medium"
              >Date</label
            >
            <input
              x-model="date"
              type="date"
              id="date"
              name="date"
              class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500"
              required
            />
          </div>
          <div class="flex justify-end space-x-2">
            <button
              type="button"
              id="closeModalBtn"
              class="px-4 py-2 bg-gray-300 rounded-md hover:bg-gray-400 transition cursor-pointer"
            >
              Cancel
            </button>
            <button
              type="submit"
              class="px-4 py-2 bg-gray-900 text-white rounded-md hover:bg-gray-700 transition cursor-pointer"
            >
              Submit
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="max-w-4xl mx-auto">
      <div class="space-y-4">
        <template x-if="!events.length">
          <div class="text-center my-8">
            <p class="text-gray-500 italic">
              No events found. Head to Settings to sync your songs from Planning
              Center before creating new events.
            </p>
          </div>
        </template>
        <template x-for="event in events" :key="event.id">
          <a :href="event.link">
            <div
              :id="event.id"
              class="bg-white p-4 rounded-lg shadow-md cursor-pointer hover:bg-gray-100 mb-4"
            >
              <h2 class="text-xl font-semibold" x-text="event.name"></h2>
              <p class="text-gray-600" x-text="event.date"></p>
            </div>
          </a>
        </template>
        <a id="openModalBtn">
          <div
            class="bg-gray-100 p-4 rounded-lg shadow-md cursor-pointer hover:bg-gray-200 mb-4 text-center"
          >
            <h2 class="text-lg font-semibold text-gray-600">Add New Event</h2>
          </div>
        </a>
      </div>
    </div>
  </body>
</html>
