<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Event - Lyriclink</title>
    <link rel="icon" type="image/x-icon" href="/static/lyriclink.png" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <link href="/static/output.css" rel="stylesheet" />
    <script src="/static/alpine/event.js"></script>
    <script src="/static/alpine/addSongModal.js"></script>
    <script defer src="/static/event.js"></script>
  </head>
  <body
    class="p-6"
    x-data="eventComponent"
    x-init="
    event = JSON.parse($el.getAttribute('data-event'));
    id = event.id;
    date = event.date;
    name = event.name;
    live_link = event.live_link
    songs = event.songs;
    user = event.user
    $store.event.event_id = id;
  "
    data-event="{{ .Event }}"
  >
    <nav
      class="bg-white shadow-md p-5 flex justify-between items-center mb-6 rounded-full"
    >
      <a href="/dashboard"><h1 class="text-2xl font-bold">LyricLink</h1></a>
      <div class="flex items-center space-x-4">
        <a href="/settings">
          <div class="w-10 h-10 bg-gray-300 rounded-full">
            <template x-if="user.avatar">
              <img
                class="w-10 h-10 bg-gray-300 rounded-full"
                :src="user.avatar"
                alt=""
              />
            </template>
          </div>
        </a>
      </div>
    </nav>

    <!-- NAME AND DATE SECTION -->
    <section class="max-w-4xl mx-auto">
      <div class="space-y-4">
        <div class="flex justify-between items-center">
          <h1 class="font-bold text-4xl" x-text="name"></h1>
          <div
            class="rounded-xl border border-transparent bg-gray-900 px-4 py-2 text-md tracking-wide text-white transition-colors hover:bg-gray-700 cursor-pointer w-fit"
          >
            <a @click="deleteEvent(id)">
              <svg fill="white" width="20" height="20" viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                />
                <path
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                />
              </svg>
            </a>
          </div>
        </div>
        <input
          class="border-2 px-2 py-4"
          class="cursor-pointer"
          type="date"
          x-model="date"
          @change="updateEvent()"
        />
        <div
          class="justify-center rounded-xl border border-transparent bg-gray-900 px-4 py-2 text-md tracking-wide text-white transition-colors hover:bg-gray-700 cursor-pointer w-fit"
        >
          <a :href="live_link" target="_blank"> See Live </a>
        </div>
      </div>
      <div class="space-y-4 mt-6 flex justify-between">
        <h2 class="font-bold text-3xl">Songs</h2>
        <button
          @click="$store.event.songModalOpen = ! $store.event.songModalOpen"
          class="cursor-pointer"
        >
          +
        </button>
      </div>
    </section>

    <!-- SONGS -->
    <section class="max-w-4xl mx-auto">
      <template x-for="song in songs">
        <div
          class="mt-6 hover:bg-gray-100 cursor-pointer"
          onclick="showArrangements(this)"
        >
          <div class="flex justify-between">
            <h2 class="font-bold text-xl" x-text="song.title"></h2>
            <h2>↓</h2>
          </div>
          <hr class="font-bold mb-0" />

          <div
            class="arrangements border-2 flex flex-col-reverse md:flex-row justify-center space-x-8 p-6 hidden z-100 relative"
          >
            <div
              class="rounded-xl border border-transparent bg-gray-900 text-md tracking-wide text-white transition-colors hover:bg-gray-700 cursor-pointer w-fit absolute px-4 py-2 m-0 top-4 right-4"
            >
              <a @click="deleteEventArrangement(song.eventArrangementId)">
                <svg fill="white" width="20" height="20" viewBox="0 0 16 16">
                  <path
                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"
                  />
                  <path
                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"
                  />
                </svg>
              </a>
            </div>
            <template x-for="arrangement in song.arrangements">
              <template x-if="arrangement.isSelected">
                <div
                  class="border-2 h-100 text-center overflow-scroll m-0 md:m-4 md:w-80"
                >
                  <p x-html="arrangement.lyrics"></p>
                </div>
              </template>
            </template>

            <div>
              <h2 class="font-bold text-3xl">Arrangements</h2>
              <select
                @change="changeArrangement(song.eventArrangementId, $event.target.value, id)"
              >
                <template
                  x-for="arrangement in song.arrangements"
                  :key="arrangement.id"
                >
                  <option
                    :value="arrangement.id"
                    x-text="arrangement.name"
                    :selected="arrangement.isSelected"
                  ></option>
                </template>
              </select>
            </div>
          </div>
        </div>
      </template>
    </section>

    <!-- NewSongModal -->
    <section
      id="newSongModal"
      x-data="newSongModalComponent"
      class="fixed inset-0 flex items-center justify-center backdrop-blur-sm bg-white/10"
      x-show="$store.event.songModalOpen"
    >
      <div
        class="bg-white p-6 rounded-lg shadow-lg w-lg"
        @click.outside="$store.event.songModalOpen = false"
      >
        <div class="flex justify-between">
          <h2 class="text-xl font-semibold mb-4">Add Song</h2>
          <a @click="$store.event.songModalOpen = false" class="cursor-pointer"
            >&#x2715;</a
          >
        </div>
        <div class="w-full max-w-lg mx-auto mt-10">
          <form @submit.prevent="querySongs" id="songSearch">
            <label for="search" class="block text-gray-700 font-medium"
              >Search Song</label
            >
            <input
              x-model="query"
              @input="querySongs()"
              id="search"
              type="text"
              placeholder="Search for a song..."
              class="w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-gray-500"
            />
            <div
              class="mt-2 bg-white shadow-md max-h-40 overflow-y-auto"
              x-show="songs.length == 0 && query.length > 0"
            >
              <div class="px-4 py-2">
                <p class="font-bold text-lg">No Results</p>
              </div>
            </div>
            <div
              class="mt-2 bg-white shadow-md max-h-40 overflow-y-auto"
              x-show="songs.length > 0"
            >
              <template x-for="song in songs">
                <div
                  class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                  @click="getArrangements(song.id)"
                >
                  <p class="font-bold text-lg" x-text="song.title"></p>
                  <p class="text-stone-800 italic" x-text="song.author"></p>
                  <p class="text-stone-800 italic" x-text="song.themes">
                    Themes:
                  </p>
                </div>
              </template>
            </div>
          </form>

          <form id="arrangementForm" class="hidden">
            <label for="search" class="block text-gray-700 font-medium"
              >Select Arrangement</label
            >
            <div class="mt-2 bg-white shadow-md max-h-40 overflow-y-auto">
              <template
                x-for="arrangement in arrangements"
                :key="arrangement.id"
              >
                <div
                  class="px-4 py-2 hover:bg-gray-100 cursor-pointer"
                  @click="addArrangementToEvent(arrangement.id)"
                >
                  <p class="font-bold text-lg" x-text="arrangement.name"></p>
                </div>
              </template>
            </div>
          </form>
        </div>
      </div>
    </section>
  </body>
</html>
