<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <link href="/static/output.css" rel="stylesheet" />
    <script src="/static/alpine/register.js"></script>
    <title>Lyric Link</title>
  </head>
  <body class="p-6">
    <nav
      class="bg-white shadow-md p-5 flex justify-between items-center mb-6 rounded-full"
    >
      <a href="/"><h1 class="text-2xl font-bold">Lyriclink</h1></a>
     
        <a href="/login">
          <p class="text-xl font-bold">Login</p>
        </a>
      </div>
    </nav>
    <main>
      <div
        class="m-auto flex flex-col items-center px-8 pt-32 pb-24 text-center text-black-800 md:w-[650px]"
      >
        <img src="/static/lyriclink.png" alt="" class="h-18 rounded-full" />
        <div class="flex items-center justify-around w-full">
          <h1 class="text-8xl font-extrabold">Lyric Link</h1>
        </div>
        <h2 class="pt-6 text-2xl">Seamless Lyrics, Effortless Sharing.</h2>
        <a
          href="#register"
          class="mx-auto mt-10 flex items-center justify-center rounded-xl border border-transparent bg-gray-900 px-8 py-3 text-lg tracking-wide text-white transition-colors hover:bg-gray-700"
        >
          Get started ↓
        </a>
      </div>
      <div class="m-auto px-8 pt-24 text-black-800 md:w-[650px]">
        <div class="font-title space-y-2">
          <h2 class="text-6xl font-extrabold">Simple.</h2>
          <h2 class="text-6xl font-extrabold">Seamless.</h2>
          <h2 class="text-6xl font-extrabold">Streamline.</h2>
        </div>

        <div class="space-y-6 pt-16 text-xl">
          <p>
            Lyriclink is a powerful lyric-sharing platform designed to
            streamline the way worship leaders share lyrics.
          </p>
          <p>
            By integrating with Planning Center, Lyriclink allows users to
            effortlessly <strong>create</strong>, <strong>format</strong>, and
            <strong>share</strong> lyric sheets via a simple URL. Whether you're
            leading a worship set, coordinating with a band, or organizing
            lyrics for an event, Lyriclink makes distribution seamless and
            accessible
          </p>
          <p>
            Our mission is to remove the hassle of formatting and distribution,
            so you can focus on worshipping with your congregation.
          </p>
        </div>
      </div>

      <div
        id="register"
        class="m-auto px-8 p-32 text-black-800 md:w-[650px]"
        x-data="registerComponent"
      >
        <div class="font-title">
          <h2 class="text-6xl font-extrabold">Try it for yourself</h2>
        </div>

        <div class="space-y-6 pt-12 text-xl">
          <p>
            Sign up to start sharing lyrics with ease. Register with your
            details below.
          </p>
          <form @submit.prevent="register" class="space-y-4 max-w-full mx-auto">
            <input
              autocomplete="given-name"
              type="text"
              placeholder="First Name"
              x-model="firstName"
              class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-gray-900"
            />
            <input
              autocomplete="family-name"
              type="text"
              placeholder="Last Name"
              x-model="lastName"
              class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-gray-900"
            />
            <input
              autocomplete="email"
              type="email"
              placeholder="Email"
              x-model="email"
              class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-gray-900"
            />
            <input
              autocomplete="new-password"
              type="password"
              placeholder="Password"
              x-model="password"
              class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-gray-900"
            />
            <p x-text="errorMessage" class="text-red-600"></p>
            <button
              type="submit"
              class="w-full flex items-center justify-center rounded-xl border border-transparent bg-gray-900 px-8 py-3 text-lg tracking-wide text-white transition-colors hover:bg-gray-700"
            >
              Register →
            </button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
