<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <link href="/static/output.css" rel="stylesheet" />
    <script src="/static/alpine/login.js"></script>
    <title>Login</title>
  </head>
  <body>
    <main>
      <div
        id="login"
        x-data="loginComponent"
        class="m-auto px-8 pt-32 text-black-800 md:w-[650px]"
      >
        <div class="font-title space-y-2 text-center">
          <h2 class="text-6xl font-extrabold">Login with LyricLink</h2>
        </div>

        <div class="space-y-6 pt-16 text-xl">
          <p>
            Login to access your LyricLink dashboard and start creating events
            for your congregation!
          </p>
          <form @submit.prevent="login" class="space-y-4 max-w-full mx-auto">
            <input
              autocomplete="email"
              type="email"
              placeholder="Email"
              x-model="email"
              class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-gray-900"
            />
            <input
              type="password"
              placeholder="Password"
              x-model="password"
              class="w-full p-3 border border-gray-300 rounded-xl focus:outline-none focus:ring-2 focus:ring-gray-900"
            />
            <p x-text="errorMessage" class="text-red-600"></p>
            <button
              type="submit"
              class="w-full flex items-center justify-center rounded-xl border border-transparent bg-gray-900 px-8 py-3 text-lg tracking-wide text-white transition-colors hover:bg-gray-700"
            >
              Login →
            </button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
