<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
    <link href="/static/output.css" rel="stylesheet" />
    <script src="/static/alpine/login.js"></script>
    <title>Login - Lyriclink</title>
    <link rel="icon" type="image/x-icon" href="/static/lyriclink.png" />
  </head>
  <body class="p-6">
    <nav
      class="bg-white shadow-md p-5 flex justify-between items-center mb-6 rounded-full"
    >
      <a href="/"><h1 class="text-2xl font-bold">Lyriclink</h1></a>
      </div>
    </nav>
    <main>
      <div
        id="login"
        x-data="loginComponent"
        class="m-auto px-8 pt-32 text-black-800 md:w-[650px]"
      >
        <div class="font-title space-y-2 text-center">
          <h2 class="text-6xl font-extrabold">Login with Lyriclink</h2>
        </div>

        <div class="space-y-6 pt-16 text-xl">
          <p>
            Login to access your LyricLink dashboard and start creating events
            for your congregation!
          </p>
          <a
            href="{{.}}"
          >
            <button
              class="w-full flex items-center justify-center rounded-xl border border-transparent bg-gray-900 px-8 py-3 text-lg tracking-wide text-white transition-colors hover:bg-gray-700"
            >
              Login →
            </button>
          </a>
        </div>
      </div>
    </main>
  </body>
</html>
